@using ObjectRentalData.Models
@model IEnumerable<RentalObjectDetailViewModel>
@{
    ViewData["Title"] = "Rental Items";
}
<h2>Rental Items</h2>

@if (Model == null || !Model.Any())
{
    <h3>No rental items registered.</h3>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Year</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Detail" asp-route-id="@item.Id">@item.Id</a>
                    </td>
                    <td>@item.Type @item.Name</td>
                    <td>@Html.DisplayFor(m => item.Price)</td>
                    <td>@item.Year</td>
                    <td>@item.Status</td>
                    <td>@item.Details</td>
                </tr>
            }
        </tbody>
    </table>
}
